<nav>
    <img src="/images/logo.jpg" height="50px">
    <a href="/"><b>Home</b></a>
    <a href="about"><b>About</b></a>
    <a href="project"><b>Project</b></a>
    <a href="services"><b>Services</b></a>
    <a href="contact"><b>Contact Me</b></a>
</nav>